<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>nyuuryoku page</title>
    </head>
    <body>
    	<table width=100%>
    		<tr>
    			<td>
                    <%= image_tag("logo_header_01.gif") %>
					<hr width=100%>
    			</td>
    		</tr>
    	</table>
    <%= form_tag :action => :sendpage, :method => :get do %>
    	<table align=center>
    		<tr>
    			<td>
    				アンケート作成完了画面
				</td>
			</tr>
			<tr>
				<td>
					アンケートの登録に成功しました。
				</td>
			</tr>
			<tr>
				<td>
    <%= submit_tag 'send_create_list', :name =>'send_create_list', :value => "完了" %>
				</td>
			</tr>
    	</table>
    <% end %>
    </body>
</html>
