<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>new page</title>
    </head>
    <body>
    	<div width=100%>
            <%= image_tag("logo_header_01.gif") %>
			<hr width=100%>
    	</div>
    <%= form_tag :action => :sendpage, :method => :get do %>
    	<div align=left style="position: absolute;left: 30%">
			<p>
		    	アンケート名：
	    		<input type="text" value="" /><br />
	    		備考：
				<textarea></textarea><br />
				回答期間：
				<select name="start_year">
					<option value=2012>2012</option>
					<option value=2013>2013</option>
					<option value=2014>2014</option>
				</select>
				年
				<select name="start_month">
					<option value=1>1</option>
					<option value=2>2</option>
					<option value=3>3</option>
					<option value=4>4</option>
					<option value=5>5</option>
					<option value=6>6</option>
					<option value=7>7</option>
					<option value=8>8</option>
					<option value=9>9</option>
					<option value=10>10</option>
					<option value=11>11</option>
					<option value=12>12</option>
				</select>
				月
				<select name="start_day">
					<option value=1>1</option>
					<option value=2>2</option>
					<option value=3>3</option>
					<option value=4>4</option>
					<option value=5>5</option>
					<option value=6>6</option>
					<option value=7>7</option>
					<option value=8>8</option>
					<option value=9>9</option>
					<option value=10>10</option>
					<option value=11>11</option>
					<option value=12>12</option>
					<option value=13>13</option>
					<option value=14>14</option>
					<option value=15>15</option>
					<option value=16>16</option>
					<option value=17>17</option>
					<option value=18>18</option>
					<option value=19>19</option>
					<option value=20>20</option>
					<option value=21>21</option>
					<option value=22>22</option>
					<option value=23>23</option>
					<option value=24>24</option>
					<option value=25>25</option>
					<option value=26>26</option>
					<option value=27>27</option>
					<option value=28>28</option>
					<option value=29>29</option>
					<option value=30>30</option>
					<option value=31>31</option>
				</select>
				日　～　
				<select name="end_year">
					<option value=2012>2012</option>
					<option value=2013>2013</option>
					<option value=2014>2014</option>
				</select>
				年
				<select name="end_month">
					<option value=1>1</option>
					<option value=2>2</option>
					<option value=3>3</option>
					<option value=4>4</option>
					<option value=5>5</option>
					<option value=6>6</option>
					<option value=7>7</option>
					<option value=8>8</option>
					<option value=9>9</option>
					<option value=10>10</option>
					<option value=11>11</option>
					<option value=12>12</option>
				</select>
				月
				<select name="end_day">
					<option value=1>1</option>
					<option value=2>2</option>
					<option value=3>3</option>
					<option value=4>4</option>
					<option value=5>5</option>
					<option value=6>6</option>
					<option value=7>7</option>
					<option value=8>8</option>
					<option value=9>9</option>
					<option value=10>10</option>
					<option value=11>11</option>
					<option value=12>12</option>
					<option value=13>13</option>
					<option value=14>14</option>
					<option value=15>15</option>
					<option value=16>16</option>
					<option value=17>17</option>
					<option value=18>18</option>
					<option value=19>19</option>
					<option value=20>20</option>
					<option value=21>21</option>
					<option value=22>22</option>
					<option value=23>23</option>
					<option value=24>24</option>
					<option value=25>25</option>
					<option value=26>26</option>
					<option value=27>27</option>
					<option value=28>28</option>
					<option value=29>29</option>
					<option value=30>30</option>
					<option value=31>31</option>
				</select>
				日
			</p>
			<p>
				設問１入力欄：<br />
				<textarea></textarea><br />
				回答形式：
				<select name="ques1">
					<option value="text">テキスト入力</option>
				</select>
			</p>
			<p>
				設問２入力欄：<br />
				<textarea></textarea><br />
				回答形式：
				<select name="ques1">
					<option value="theck">チェックボックス</option>
				</select>
				<div>
					選択肢１：<input type="text" /><br />
					選択肢２：<input type="text" /><br />
					選択肢３：<input type="text" /><br />
					選択肢４：<input type="text" /><br />
					選択肢５：<input type="text" /><br />
					選択肢６：<input type="text" /><br />
					選択肢７：<input type="text" /><br />
					選択肢８：<input type="text" /><br />
					選択肢９：<input type="text" /><br />
					選択肢１０：<input type="text" /><br />
				</div>
			</p>
			<p>
				設問３入力欄：<br />
				<textarea></textarea><br />
				回答形式：
				<select name="ques1">
					<option value="radio">ラジオボタン</option>
				</select>
				<div>
					選択肢１：<input type="text" /><br />
					選択肢２：<input type="text" /><br />
					選択肢３：<input type="text" /><br />
					選択肢４：<input type="text" /><br />
					選択肢５：<input type="text" /><br />
					選択肢６：<input type="text" /><br />
					選択肢７：<input type="text" /><br />
					選択肢８：<input type="text" /><br />
					選択肢９：<input type="text" /><br />
					選択肢１０：<input type="text" /><br />
				</div>
			</p>
			<p>
				設問４入力欄：<br />
				<textarea></textarea><br />
				回答形式：
				<select name="ques1">
					<option value="text">テキスト入力</option>
					<option value="theck">チェックボックス</option>
					<option value="radio">ラジオボタン</option>
				</select>
			</p>
			<p>
				設問５入力欄：<br />
				<textarea></textarea><br />
				回答形式：
				<select name="ques1">
					<option value="text">テキスト入力</option>
					<option value="theck">チェックボックス</option>
					<option value="radio">ラジオボタン</option>
				</select>
			</p>
				設問６入力欄：<br />
				<textarea></textarea><br />
				回答形式：
				<select name="ques1">
					<option value="text">テキスト入力</option>
					<option value="theck">チェックボックス</option>
					<option value="radio">ラジオボタン</option>
				</select>
			</p>
			<p>
				設問７入力欄：<br />
				<textarea></textarea><br />
				回答形式：
				<select name="ques1">
					<option value="text">テキスト入力</option>
					<option value="theck">チェックボックス</option>
					<option value="radio">ラジオボタン</option>
				</select>
			</p>
			<p>
				設問８入力欄：<br />
				<textarea></textarea><br />
				回答形式：
				<select name="ques1">
					<option value="text">テキスト入力</option>
					<option value="theck">チェックボックス</option>
					<option value="radio">ラジオボタン</option>
				</select>
			</p>
			<p>
				設問９入力欄：<br />
				<textarea></textarea><br />
				回答形式：
				<select name="ques1">
					<option value="text">テキスト入力</option>
					<option value="theck">チェックボックス</option>
					<option value="radio">ラジオボタン</option>
				</select>
			</p>
			<p>
				設問１０入力欄：<br />
				<textarea></textarea><br />
				回答形式：
				<select name="ques1">
					<option value="text">テキスト入力</option>
					<option value="theck">チェックボックス</option>
					<option value="radio">ラジオボタン</option>
				</select>
			</p>
	    	<p>
        <%= submit_tag 'new_confirm', :name =>'send_new_confirm', :value => "確認" %>
        <%= submit_tag 'create_list', :name =>'send_create_list', :value => "戻る" %>
			</p>
    	</div>
    <% end %>
    </body>
</html>